---
title: Uus Eakus
page: home
---
%section#welcome.white-section
	%center
		%h1.heading Uus eakus 2050 ja rahvakogu ettepanekud

		%iframe(src="https://www.youtube.com/embed/B3ZbPIR42P4"
			frameborder="0"
			webkitallowfullscreen
			mozallowfullscreen
			allowfullscreen)

		%p.paragraph
			Uue eakuse visioon on Koostöö Kogu algatusel koos loodud tervikpilt,
			millise muutuse ja käitumise soosimise suunal on Eestil vaja tänaste
			probleemide ja trendide kontekstis aastaks 2050 liikuda. Ühiskondliku
			arutelu käivitamiseks ja lahendusettepanekute kogumiseks käivitas
			Koostöö Kogu märtsis 2017 uue eakuse rahvakogu. Rahvakogu protsessis
			kogutud, läbiarutatud ja täiendatud ettepanekud pakuvad riigi tasandi
			lahendusi, kuidas uue eakuseni jõuda.

		%p.paragraph
			Vaata altpoolt, millised ettepanekud milliste visioonipunktidega
			haakuvad. Anna oma toetusallkiri neile ettepanekutele, mis aitavad
			tuleviku eakust kujundada. Riigikogu arutab igat ettepanekut, mis on
			kogunud 1000 digiallkirja.
