@import "reset";
$page-width: 100rem;
$page-padding: 6rem;
$page-padding-mobile: 2rem;
$text-size: 1.6rem;
$text-line-height: 1.6;
$tablet-width: 865px;
$mobile-width: 569px;
$grey-background: #f2f2f2;
$text-section-width: 80rem;
$body-font: Aino, sans-serif;
$text: #222;
$purple: #312f9d;
$link: #0078ff;
$link: #339;

@mixin tablet {
  @media only screen and (min-width: $mobile-width + 1px) and
    (max-width: $tablet-width) { @content }
}

@mixin tablet-and-mobile {
  @media only screen and (max-width: $tablet-width) { @content }
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) { @content }
}

@font-face {
  font-family: "Aino";
  font-weight: normal;
  font-style: normal;

  src: url("/assets/aino-regular.eot");
  src:
		url("/assets/aino-regular.eot?#iefix") format("embedded-opentype"),
		url("/assets/aino-regular.woff") format("woff"),
		url("/assets/aino-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Aino";
  font-weight: bold;
  font-style: normal;

  src: url("/assets/aino-bold.eot");
  src:
		url("/assets/aino-bold.eot?#iefix") format("embedded-opentype"),
		url("/assets/aino-bold.woff") format("woff"),
		url("/assets/aino-bold.ttf") format("truetype");
}

html,
body {
	height: 100%;
}

body {
	background-color: white;
	font-family: $body-font;
	display: flex;
	flex-direction: column;
	color: $text;

	// Without an explicit text-align, Internet Explorer (9 at least) has no
	// text-align value to inherit from for <center>.
	text-align: left;
}

strong { font-weight: bold; }
big { font-size: 130%; }

section center {
	padding-top: 6rem;
	padding-bottom: 6rem + 2rem; // + a little to compensate for line height.

	@include mobile {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}

center {
	max-width: $page-width;
	margin: 0 auto;
	padding: 0 $page-padding;
	text-align: inherit;

	@include mobile {
		padding-left: $page-padding-mobile;
		padding-right: $page-padding-mobile;
	}

	// Internet Explorer still centers things under <center> even with
	// text-align: inherit.
	& > * { margin-right: auto }
}

.white-section {
	& + .white-section center { padding-top: 0; }
}

.grey-section { background-color: $grey-background; }

.text-section {
	font-size: $text-size;
	line-height: $text-line-height;
	hyphens: manual;

	center {
		max-width: $text-section-width;
	}

	* + h2 { margin-top: 4rem; }
	* + h3 { margin-top: 4rem; }

	ul {
		margin: ($text-size * $text-line-height) 0;

		li {
			margin-left: 4rem;
			list-style-type: disc;
		}
	}

	img {
		max-width: 100%;
	}
}

.heading,
.text-section h1 {
	font-size: 3.4rem;
	color: $purple;
	margin-bottom: 2rem;
	line-height: 1.5;

	@include mobile { font-size: 3rem; }
}
.subheading,
.text-section h2 {
	font-size: 2.6rem;
	color: $purple;
	margin-bottom: 2rem;
	line-height: 1.5;
}

.subsubheading,
.text-section h3 {
	color: $purple;
	font-size: 2rem;
	line-height: 1.5;
}

.paragraph,
.text-section p {
	font-size: $text-size;
	line-height: $text-line-height;

	& + p { margin-top: 1.6 * 1.6rem; }
}

.paragraph a,
.text-section a {
	color: $link;
	border-bottom: 1px solid $link;

	&:visited {
		color: lighten($link, 20%);
		border-color: lighten($link, 50%);
	}
}

#nav,
#footer { color: white; background: $purple; }

#main {
	flex-grow: 1;
}

#nav {
	padding: 2rem 0;
	line-height: 3rem;

	.home {
		display: inline-block;
		vertical-align: top;
		font-weight: bold;
		font-size: 1.8rem;
		height: 3rem;
		margin-right: 2rem;

		img { height: 100%; }
	}

	menu a {
		display: inline-block;
		padding: 0 1rem;
	}

	menu {
		float: right;
	}

	menu a {
		border-radius: 0.3rem;
		border: 1px solid transparent;
		font-size: 1.3rem;
		margin-left: 0.3rem;

		&.selected {
			color: $purple;
			background-color: white;
			font-weight: bold;
		}

		&:hover {
			border-color: white;
		}
	}

	@include mobile {
		line-height: 2;

		padding: 2rem 0 1rem;
		center { padding: 0 2rem; }
		.home { display: block; font-size: 2.4rem; }
		menu { float: none; }
		menu a { margin: 0.5rem 0.5rem 0.1rem 0; }
	}
}

#home-page {
	#welcome {
		p {
			width: 50%;
			padding-right: 2rem;
		}

		iframe {
			float: right;
			width: 44rem;
			max-width: 50%;
			height: 44rem * 9 / 16;
			margin-bottom: 3rem;
		}

		menu {
			clear: both;
			margin-top: 4rem;
			text-align: center;

			a { margin-right: 4rem; }
		}

		@include tablet-and-mobile {
			p { width: auto; padding-right: 0; }
			iframe { float: none; width: 100%; max-width: none; }
		}
	}

	#vision {
		$initiative-height: 75px;
		$initiative-width: 130px;
		position: relative;
		text-align: center;

		.text-section center { max-width: 64rem; }
		.unpointable { pointer-events: none; }

		#vision-visions {
			display: block;
			margin: 0 auto 1rem;

			strong {
				font-weight: bold;
			}

			.vision-arc {
				cursor: pointer;

				-webkit-tap-highlight-color: rgba(black, 0);
				-webkit-user-select: none;
				user-select: none;

				.fillable { fill: white; }

				text {
					fill: $purple;
					font-weight: 500;
					font-size: 1.7rem;
				}

				&.highlighted {
					.fillable { fill: $purple; filter: url(#vision-shadow); }
					text { fill: white; }
				}
			}

			.vision-description p {
				text-align: center;
				font-family: serif;
				padding: 0.5rem;
				font-size: 1.3rem;
			}
		}

		.initiative,
		.initiative-details {
			background: white;
			text-align: left;
		}

		.initiative {
			display: inline-block;
			vertical-align: top;
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);

			transition:
				transform 200ms ease-out,
				box-shadow 200ms ease-out,
				opacity 200ms ease-out;

			.initiative-title {
				$line-height: 1.6rem;

				display: block;
				height: $line-height * 3;
				overflow: hidden;
				color: #757575;
				margin: 1rem 1rem 0.7rem;
				font-size: 1.3rem;
				line-height: $line-height;
				hyphens: auto;
				text-overflow: ellipsis;
			}

			.initiative-progress {
				height: 1rem;
				background-image: none;
			}

			&.inline {
				margin-bottom: 1rem;
				margin-right: 1rem;
			}

			&.highlighted {
				box-shadow: 0 1px 10px 1px rgba($purple, 0.6);
				.initiative-title { color: $text; }
			}

			&.disabled {
				transform: scale(0.9);
				opacity: 0.5;
			}
		}

		.initiative-details {
			$line-height: 17px;
			$progress-height: 20px;
			$min-height: $line-height * 3 + $progress-height + 2 * 13px;
			$width: 260px;

			width: $width;
			min-height: $min-height;
			margin-left: -$width / 2;
			margin-top: -$min-height / 2;
			z-index: 100;

			box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
			border-radius: 0.8rem;
			animation: 150ms ease-out forwards scale-in;
			overflow: hidden;

			.initiative-title {
				display: block;
				min-height: $min-height - $progress-height - 2 * 13px;
				margin: 13px;
				font-size: 1.4rem;
				font-weight: 500;
				line-height: $line-height;
				color: black;

				small {
					font-family: serif;
					font-size: 1.3rem;
					color: #7d7d7d;
				}
			}

			.initiative-progress {
				padding-left: 13px;
				height: $progress-height;
				line-height: $progress-height + 2px;
				font-size: 1.1rem;
				font-weight: normal;
				background-image: none;
			}
		}

		.initiative-progress {
			display: block;

			padding-left: 2rem;
			padding-right: 2rem;
			font-size: 1.3rem;
			font-weight: bold;
			color: #3a434a;

			background-color: #eee;
			background-repeat: no-repeat;

			&.private {
				color: white;
				background-color: #9a9a9a;
			}

			&.discussable.completed {
				background-color: #ffb400;
				background-image: url(/images/discussion-over.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.votable.completed {
				color: white;
				background-color: #00cb81;
				background-image: url(/images/vote-success.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.processable {
				color: #1C71A2;
				background-image: url(/images/clock.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.finished {
				color: #1C71A2;
				background-image: url(/images/discussion-over.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}

			&.failed {
				color: white;
				background-color: #9a9a9a;
				background-image: url(/images/vote-failed.png);
				background-position: 1rem center;
				padding-left: 3.5rem;
			}
		}
	}
}

#footer {
	padding: 4rem 0;
	font-size: 1.4rem;
	line-height: 1.6;

	h2 {
		font-weight: bold;
		margin-bottom: 1rem;
	}

	a { text-decoration: underline; }
}
